@use 'variaveis';

.footer {
    width: 100vw;
    background-image: url("../../images/deadpoolsinho.jpg");
    background-size: 700px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    scroll-snap-type: none;
    height: 30vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 768px) {
        height: 20vh;
        background-size: contain;
    }

    &__content {
        display: flex;
        justify-content: space-around;

        div {
            width: 50vw;
            text-align: center;
        }

        h3 {
            text-transform: capitalize;

            @media screen and (max-width: 768px) {
                color: variaveis.$PrimaryColor;
                font-size: 20px;
            }

            @media(min-width: 769px) and (max-width: 1023px) {
                color: variaveis.$TextColor;
                font-size: 30px;
                margin-top: 10%;
            }

            @media screen and (min-width: 1024px) {
                color: variaveis.$TextColor;
                font-size: 50px;
            }


        }

        p {
            text-transform: uppercase;

            @media screen and (max-width: 768px) {
                font-size: 5px;
                color: variaveis.$TextColor;
            }

            @media(min-width: 769px) and (max-width: 1023px) {
                font-size: 40px;
                color: variaveis.$PrimaryColor;
                bottom: 0;
                margin: 10%;
            }

            @media screen and (min-width: 1024px) {
                color: variaveis.$PrimaryColor;
                font-size: 30px;
            }
        }
    }
}